@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html, body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #dddbff;
  min-height: 100vh;
}

body {
  background: url("../../images/bg-mobile.png") no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 10vh 5vw;
  max-width: 400px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #1d2c67;
  border-radius: 0 100px 0 0;
}
.dashboard .logo img {
  height: auto;
  width: 8rem;
}
.dashboard .links {
  padding: 2rem 0 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.dashboard .links a {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #0c122c;
}
.dashboard .links img {
  height: 1.5rem;
  width: auto;
}

.info {
  background-color: #1d2c67;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}
.info span {
  display: flex;
  padding: 1rem 0;
}
.info .progress-bar {
  flex-direction: column;
}
.info .progress-bar span {
  width: 100%;
  padding: 0;
  font-weight: 700;
}
.info .progress-bar .bar {
  background-color: #0c122c;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: 1rem;
  padding: 0;
}
.info .progress-bar .bar .indicator {
  background-color: white;
  position: absolute;
  width: 0.7rem;
  height: 70%;
  top: 16%;
  left: 76%;
  z-index: 1;
  border-radius: 50%;
  padding: 0;
}
.info .progress-bar .bar::after {
  content: "";
  background: linear-gradient(to right, #ffa399, #ff4d97);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  top: 11%;
  left: 1%;
  position: absolute;
}
.info .progress-bar span:nth-child(2) {
  justify-content: space-between;
}
.info .warning {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  left: 22%;
  border-radius: 10px;
  background-color: white;
  color: #0c122c;
  height: 3rem;
  width: 12rem;
}
.info .warning h2 {
  font-size: 2.5rem;
  margin: 0;
}
.info .warning .warning-text {
  font-size: 1rem;
  padding: 0;
  color: #848794;
  display: inline;
}

@media only screen and (min-width: 1024px) {
  body {
    background: #0c122c no-repeat;
    background-image: url("../../images/bg-desktop.png");
    background-position: bottom;
    background-size: 100vw 50vh;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 1440px;
  }

  .dashboard {
    width: 35ch;
    margin-right: 2rem;
  }

  .info {
    width: 60ch;
    height: 50%;
    padding: 2rem 2rem 1rem;
  }
  .info span {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .info .warning {
    top: -25%;
    left: inherit;
    right: 5%;
    border-radius: 10px 10px 0 10px;
  }
  .info #triangle-topright {
    position: absolute;
    right: 0;
    bottom: -2rem;
    width: 0;
    height: 0;
    border-top: 1.5rem solid #ffff;
    border-left: 1.5rem solid transparent;
  }
}

/*# sourceMappingURL=styles.css.map */
